<!DOCTYPE html>
<html>
  <head>
    <!-- <title><%- title %></title> -->
    <title>PERP163x</title>
    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `link` tags, or asynchronously
        on the client using a solution like AMD (RequireJS).  Or, if you like, you can
        take advantage of Sails' boilerplate asset management.

        By default, stylesheets from your `assets/linker/styles` folder are included
        here automatically.  Both CSS (.css) and LESS (.less) are supported.
        In production, your styles will be minified and concatenated into a single file.
        
        To customize any part of the built-in behavior, just edit your Gruntfile.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/linker/styles/bootstrap.css">
    <link rel="stylesheet" href="/linker/styles/custom.css">
    <link rel="stylesheet" href="/linker/styles/jquery-ui-1.10.4.custom.css">
    <!--STYLES END-->

    <!--Added this so the client has access to the csrf tag and it's grabbed first service side on every page -->
    <script type="text/javascript">
      window.donvincenzo = { csrf : "<%= _csrf %>" };
    </script>

    <!-- The sound file that will play on activity events 
    <audio id="chatAudio">
      <source src="/sounds/notify.ogg" type="audio/ogg">
      <source src="/sounds/notify.mp3" type="audio/mpeg">
      <source src="/sounds/notify.wav" type="audio/wav">
    </audio> -->
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><%= __("PERP 163x") %></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a class="navbar-brand" href="/"><%= __("FAQ") %></a></li>
            <li><a class="navbar-brand" href="/"><%= __("Blog") %></a></li>
            <li><a class="navbar-brand" href="/"><%= __("Contact us") %></a></li>
            <% if (session.authenticated && session.User.admin) { %>
              <li><a href="/user"><%= __('Administration') %></a></li>
            <% } %>
          </ul>
          <div class="navbar-right">
            <% if (!session.authenticated) { %>
              <form class="navbar-form navbar-left navbar-form-signin-validate" action="/session/create">
                <div class="form-group">
                  <label class="control-label sr-only" for="email"><%= __('Email') %></label>
                  <input type="text" placeholder="Email" name="email" class="form-control">
                </div>
                <div class="form-group">
                  <label class="control-label sr-only" for="password"><%= __('Password') %></label>
                  <input type="password" placeholder="Mot de Passe" name="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-success"><%= __("Sign in") %></button>         
                <input type="hidden" name="_csrf" value="<% _csrf %>" />
              </form>
              <form class="navbar-form navbar-left" action="/user/new"> 
                <div class="form-group">
                  <button type="submit" class="btn btn-primary"><%= __("Sign up") %>
                  <input type="hidden" name="_csrf" value="<% _csrf %>" />
                </div>
              </form>
              <form id="formLang" class="navbar-form navbar-right" method="POST">
                <div class="form-group">
                  <label class="control-label sr-only" for="lang"><%= __('Language') %></label>
                  <select name="lang" id="lang" class="form-control"> 
                    <option value="en" <% if (session.lang === "en") { %> selected <% } %> >English</option> 
                    <option value="fr" <% if (session.lang === "fr") { %> selected <% } %> >French</option> 
                  </select>
                </div>
                <input type="hidden" name="_csrf" value="<%= _csrf %>" />
              </form>
            <% } else { %>
              <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <% if (session.User.firstname || session.User.lastname) { %>
                      <%= session.User.firstname + " " + session.User.lastname %>
                    <% } else { %>
                      <%= session.User.email %>
                    <% } %>
                    <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    
                    <li><a href="/user/show/<%= session.User.id %>"><%= __('Show') + ' ' + __('profile') %></a></li>
                    
                    <li><a href="/user/show/<%= session.User.id %>"><%= __('Beneficiaries / fund transfers') %></a></li>
                    <li><a href="/user/show/<%= session.User.id %>"><%= __('Portfolio management') %></a></li>
                    <li><a href="/user/show/<%= session.User.id %>"><%= __('Arbitrage options') %></a></li>
                    <li><a href="/user/show/<%= session.User.id %>"><%= __('Payment details') %></a></li>                      
                    <li class="divider"></li>
                    <li><a href="/session/destroy"><button type="submit" class="btn btn-danger"><%= __("Sign out") %></button></a></li>
                    <li class="divider"></li>
                    <li class="disabled"><a href="#"><%= __('Default language') %>:</a></li>
                    <li>
                      <form id="formLang" class="navbar-form" method="POST">
                        <div class="form-group">
                          <label class="control-label sr-only" for="lang"><%= __('Language') %></label>
                          <select name="lang" id="lang" class="form-control"> 
                            <option value="en" <% if (session.lang === "en") { %> selected <% } %> >English</option> 
                            <option value="fr" <% if (session.lang === "fr") { %> selected <% } %> >French</option> 
                          </select>
                        </div>
                        <input type="hidden" name="_csrf" value="<%= _csrf %>" />
                      </form>
                  </li>
                  </ul>
                </li>
              </ul>
            <% } %>
          </div>
        </div>
      </div>
    </nav>

    <%- body %>

    <div class="container">
      <hr>
      <footer class="footer pull-right">
        <div>
          <div><%= __("footer") %> <a href="http://www.dualconseils.com" target="_blank">Dualconseils</a></div>
        </div>
      </footer>
    </div>


    <!--
        Client-side Templates
        ========================

    		HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/linker/templates` folder, then
        include them here automatically.
        
        To customize this behavior to fit your needs, just edit your Gruntfile.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your templates using a server-side stringfile
              before they're served.
    -->

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' boilerplate asset management.

      By default, filesin your `assets/linker/js` folder are included here
      automatically.  Both JavaScript (.js) and CoffeeScript (.coffee) are supported.
      In production, your scripts will be minified and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit your Gruntfile.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/linker/js/socket.io.js"></script>
    <script src="/linker/js/sails.io.js"></script>
    <script src="/linker/js/jquery.js"></script>
    <script src="/linker/js/jquery.validate.js"></script>
    <script src="/linker/js/jquery.validate.datefix.js"></script>
    <script src="/linker/js/jquery.validate.additional-methods.js"></script>
    <script src="/linker/js/app.js"></script>
    <script src="/linker/js/bootstrap.js"></script>
    <script src="/linker/js/customValidate.js"></script>
    <script src="/linker/js/customjQueryUI.js"></script>
    <script src="/linker/js/jquery-ui-1.10.4.custom.js"></script>
    <script src="/linker/js/underscore.js"></script>
    <!--SCRIPTS END-->

    <!-- Language selection for jQuery.validate plugin -->
    <% if(session.lang && session.lang !== 'en'){ %>
      <script src=<%= "/linker/nolinker/js/jquery.validate.localization/messages_" + session.lang + ".js" %> ></script>
    <% } %>

    <!-- Edit user bank account function used for views/user/edit.ejs -->
     <script src="/linker/nolinker/js/user/edit.js"></script>

    <!-- Submit function for the language selector - Using JQUERY so need to be located after JQUERY is loaded -->
    <script type="text/javascript">
      $(function () {
        $("#lang").change(function () {
          $("#formLang").submit();
        });
      });
    </script>
  </body>
</html>
