<form action="/user/update/<%= user.id %>" method="POST" class="form-signin">
	<h2><%= __('Update a user') %></h2>

	<input value="<%= user.lastname %>" name="lastname" type="text" class="form-control"/>
	<input value="<%= user.firstname %>" name="firstname" type="text" class="form-control"/>
	<input value="<%= user.email %>" name="email" type="text" class="form-control"/>
	<% if (session.authenticated && session.User.admin) { %>
		<% if (user.admin) { %>
			<input type="hidden" name="admin" value="unchecked">
			<label class="checkbox"><input type="checkbox" name="admin" checked>Admin</label>
		<% } else { %>
			<input type="hidden" name="admin" value="unchecked">
			<label class="checkbox"><input type="checkbox" name="admin">Admin</label>
		<% } %>
	<% } %>
	<input type="submit" value="<%= __('Proceed') %>" class="btn btn-lg btn-primary btn-block"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>