<form action="/user/update/<%= user.id %>" method="POST" class="form-signin">
	<h2><%= __('Update a user') %></h2>

	<input value="<%= user.lastname %>" name="lastname" type="text" class="form-control"/>
	<input value="<%= user.firstname %>" name="firstname" type="text" class="form-control"/>
	<input value="<%= user.maidenName %>" name="maidenName" type="text" class="form-control"/>
	<input value="<%= user.birthDate %>" name="birthDate" type="text" class="form-control"/>
	<input value="<%= user.birthCity %>" name="birthCity" type="text" class="form-control"/>
	<input value="<%= user.birthDepartment %>" name="birthDepartment" type="text" class="form-control"/>
	<input value="<%= user.addressStreetNumber %>" name="addressStreetNumber" type="text" class="form-control"/>
	<input value="<%= user.addressStreet %>" name="addressStreet" type="text" class="form-control"/>
	<input value="<%= user.postalCode %>" name="postalCode" type="text" class="form-control"/>
	<input value="<%= user.city %>" name="city" type="text" class="form-control"/>
	<input value="<%= user.country %>" name="country" type="text" class="form-control"/>
	<input value="<%= user.phoneNumberHome %>" name="phoneNumberHome" type="text" class="form-control"/>
	<input value="<%= user.phoneNumberMobile %>" name="phoneNumberMobile" type="text" class="form-control"/>
	<input value="<%= user.idCardType %>" name="idCardType" type="text" class="form-control"/>
	<input value="<%= user.idCardExpirationDate %>" name="idCardExpirationDate" type="text" class="form-control"/>
	<input value="<%= user.idCardNumber %>" name="idCardNumber" type="text" class="form-control"/>
	<input value="<%= user.idCardDeliveryCity %>" name="idCardDeliveryCity" type="text" class="form-control"/>
	<input value="<%= user.idCardDeliveryCountry %>" name="idCardDeliveryCountry" type="text" class="form-control"/>
	<input value="<%= user.idCardDeliveryAuthority %>" name="idCardDeliveryAuthority" type="text" class="form-control"/>
	<input value="<%= user.nationality %>" name="nationality" type="text" class="form-control"/>
	<input value="<%= user.maritalStatus %>" name="maritalStatus" type="text" class="form-control"/>
	<input value="<%= user.matrimonialRegime %>" name="matrimonialRegime" type="text" class="form-control"/>
	<input value="<%= user.jobTitle %>" name="jobTitle" type="text" class="form-control"/>
	<input value="<%= user.socialRegime %>" name="socialRegime" type="text" class="form-control"/>
	<input value="<%= user.jobTypeOfIndustry %>" name="jobTypeOfIndustry" type="text" class="form-control"/>
	<input value="<%= user.expectedRetirementAge %>" name="expectedRetirementAge" type="text" class="form-control"/>
	<input value="<%= user.familyYearlyGrossIncomeRange %>" name="familyYearlyGrossIncomeRange" type="text" class="form-control"/>


	<input type="submit" value="<%= __('Save and continue') %>" class="btn btn-lg btn-primary btn-block"/>
	<input type="hidden" name="_csrf" value="<%= _csrf %>" />
</form>